.navbar{
    background: #ffdfd3;
    font-size: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    border-bottom: 5px  solid black;
   
   }
   li{
       margin-left: 30px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
  
   .navbar li:hover, li:active{
       background-color: rgba(0, 0, 0, .3);
   }

/* acAca inicia el style del formulario */
*{
    box-sizing: border-box;
    }
    body{
        background-color: #957DAD;
        
    }
    .div-form{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 10px;
    }
    h1{
        text-align: center;
        
    }
    .div-cont-form{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .8);
    padding: 10px;
    background-color: #d291bc;
    }
    .div-cont-form form{
    margin: 0%;
    padding: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .div-cont-form form .column{
        grid-column: 1 / 3;
    }
    .inputs{
        width: 80%;
        border: none;
        background: none;
        outline: 0;
        border-bottom: 1px solid black;
    }
    .button-1{
        background-color: green;
        text-transform: uppercase;
        padding: 3px;
    
    }
    .button-2{
        background-color: red;
        text-transform: uppercase;
        padding: 3px;
    }
    .button-2:hover,
    .button-2:focus{
    background: #e0bbe4;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
    }
    .button-1:hover,
    .button-1:focus{
    background: #957DAD;
    color: green;
    transition: background-color 1s ease-out;
    outline: 0;
    }

    /* Aca inicia el style del footer */
.div-footer{
    width: 100%;
    height: 100px;
    background-color: #ffdfd3;
}
.div-redes-sociales{
    margin: 10px;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 15px;
    text-align: center;
    
}
.img-facebook{
    width: 60px;
    height: 60px;

}
.img-instagram{
    width: 60px;
    height: 60px;
    margin: 0px 10px 0px 10px;
}
.img-whatsapp{
    width: 60px;
    height: 60px;
}
@media (max-width: 600px ){
    .div-footer{
        width: 102%;
    }
}

    
    
